html{
	padding: 0;
	margin: 0;
	width: 100%;
}
body {
	/* background-color: #f4f4f9;
	font-family: 'Arial', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center; */
	height: 100vh;
	margin: 0;
}
.form-container {
	background-color: #fff;
	padding: 15px 30px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	width: 100%;
}
.form-container h2 {
	text-align: center;
	margin-bottom: 15px;
	color: #333;
	font-size: 24px;
}
.form-container label {
	display: block;
	margin-bottom: 5px;
	color: #555;
	font-size: 14px;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="file"],
.form-container textarea {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 14px;
}
.form-container textarea {
	resize: vertical;
	height: 80px;
}
.form-container button {
	width: 100%;
	padding: 10px;
	background-color: #007BFF;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.form-container button:hover {
	background-color: #0056b3;
}
.form-container .form-group {
	margin-bottom: 10px;
}